[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
pyjwt = "*"
pytest-flask = "*"
flask-testing = "*"
httpx = "*"
mypy = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
testcontainers = "*"

[requires]
python_version = "3.13"
