[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
python-dotenv = "*"
inflection = "*"
flask = "*"
gunicorn = "*"
flask-pydantic = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
pyjwt = "*"
flask-migrate = "*"
flask-mail = "*"
flask-cors = "*"
pydantic = "*"
pytest = "*"
pytest-mock = "*"

[dev-packages]
pytest = "*"
testcontainers = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
