[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-mail = "*"
flask-migrate = "*"
flask-pydantic = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
inflection = "*"
mysql-connector-python = "*"
mysqlclient = "*"
pyjwt = "*"
python-dotenv = "*"
pydantic = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
testcontainers = "*"


[requires]
python_version = "3.13"
