[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
mysqlclient = "*"
pytest-flask = "*"
flask-testing = "*"
sqlalchemy = "*"
flask-mail = "*"
pyjwt = "*"
pydantic = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
